body {
    background-image: linear-gradient(#7698ed, #93e6ff);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
   
}


        .todoPage {
            background-color: white;
            height: 80vh;
            width: 100vh;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 1px;
            

        }

            /*-------   Section  ------*/
            /*-------   Start ------*/

                #todoTitle {
                    background-color: rgb(254, 254, 85);
                    height: 15%;
                    width: 100%;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;

                }


            /*-------   End   ------*/ 
            /*-------   Section  ------*/
            /*-------   Start ------*/  

                #todoTaskInput { /*Parent Element for task input*/
                    background-color: lightcyan;
                    height: 5%;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                }


                        #addBtn { /* Add Button*/
                            height: 100%;
                            width: 10%;
                        }
                
                        #task { /* Input box to enter todo list task*/
                            background-color: #7698ed;
                            height: 100%;
                            width: 80%;
                        }

             /*-------   End   ------*/ 
            /*-------   Section  ------*/
            /*-------   Start ------*/                    

                #todoBody { /* Parent Element for ListItem*/
                    background-color: lightcyan;
                    height: 80%;
                    width: 100%;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 0; 
                    margin: 0; 
                    list-style-type: none;

                    
                    
                }
                        /*-- li to be created in JS and appended ul*(todobody) --*/
                        li {/*-- Then grabs the value of #task*(input box) --*/
                            background-color: white;
                            height: 10%;
                            width: 90%;
                            border-bottom: 2px solid lightcyan;
                            display: flex;
                            flex-direction: row;
                            /* justify-content: space-between; */
                            align-items: center;
                            
                            
                            
                            
                            
                        }

                        span {
                            width: 2%;
                        }

                        p {
                            flex-grow: 1;
                        }
                        
                        #inputBox {
                            flex-grow: 1;
                            border: none;
                        }

                            


                            #deleteBtn {
                                background-color: rgb(114, 114, 114);
                                color:white;
                                height: 100%;
                                width: 10%;
                                font-size: 1rem;
                                border-radius: 5px;
                                border: none;
                                /* flex-grow: 1; */
                                
                                
                            }
                                #deleteBtn:hover {
                                    background-color: rgb(253, 68, 68);
                                   
                                    /* box-shadow: 0px 0 5px 5px lightgray; */
                                    /* font-weight: bolder;
                                    font-size: 1.05rem; */
                                    color: white;
                                    border: solid  rgb(123, 123, 123);
                                    
                                    border-radius: 5px;
                                    transition-delay:0.05s;
                                    
                                }

                                